body{
    margin: auto;
    font-family: 'Bona Nova', serif;
    font-family: 'Kanit', sans-serif;
    width: 100%;
    max-width: 1346px; 
    background-image: linear-gradient(90deg, #f0f0ef, #CACEBC, #f0f0ef,#d9e4b1b0);
    animation: gradient 15s ease infinite;
    padding-top: 40px;
    height: 100%;
    max-height: 47vw;
}

@keyframes gradient {
0% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0% 50%;
}
}

#enterForm{
    width: 40vw;
    height: 47vw;
    border-radius: 7px;
    background-color: #E8EDED;
    margin: auto;
    box-shadow: 7px 7px 6px 2px rgba(141, 141, 141, .2);
    visibility: visible;
    position: relative;
}

#forms_head{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 9vw;
    font-size: 2.5vw;
    font-family: 'Bona Nova', serif;
    padding-top: 1vw;
}

#forms_head>p{
    border-bottom: 2px solid #FF8F05;
    cursor: pointer;
}

.notActive{
    color: darkgrey !important;
    border-bottom: 2px solid transparent !important;
}

#formBody{
    display: flex;
    flex-direction: column;
}

#formBody>label{
    font-family: 'Bona Nova', serif;
    font-size: 1.4vw;
    margin-left: 6vw;
    margin-top: 4vw;
}

#formBody>input{
    font-family: sans-serif;
    margin-left: 6vw;
    margin-top: 2vw;
    width: 27vw;
    border: none;
    background-color: #E8EDED;
    border-bottom: 1px gray solid;
    font-size: 1.5vw;
}

#dateOfBirth:focus::placeholder{
    visibility: hidden;
}

#formBody>input:focus{
    outline: none;
}

#enterForm__enter{
    margin-top: 6.3vw;
    width: 26.5vw;
    height: 4vw;
    background-color: #B3BCA7;
    font-family: 'Kanit', sans-serif;
    font-size: 1.6vw;
    border: none;
    border-radius: 7px;
    margin-left: 6.5vw;
    font-weight: 500;
    cursor: pointer;
    color: rgb(28, 28, 28);
}

#enterForm__enter:hover{
    border: #FF8F05 2px solid;
}

#enterForm__enter:active{
    background: #E8EDED;
    border: #FF8F05 2px solid;
}

#enterForm__enter+p{
    text-align: center;
    font-size: 1.2vw;
    margin-top: 1.7vw;
    cursor: pointer;
    border-bottom: 1px solid transparent;
}

#enterForm__enter+p:hover{
    color: #FF8F05;
}

#formBodyRegistrationForm{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 12vw;
    left: 0.5vw;
    visibility: hidden;
    width: 40vw;
}

#formBodyRegistrationForm>label{
    font-family: 'Bona Nova', serif;
    font-size: 1.2vw;
    margin-left: 5.8vw;
    margin-top: 1.5vw;
}

#formBodyRegistrationForm>input{
    font-family: sans-serif;
    margin-left: 5.8vw;
    margin-top: 0.6vw;
    width: 27.7vw;
    border: none;
    background-color: #E8EDED;
    border-bottom: 1px gray solid;
    font-size: 1.5vw;
    font-weight: 300;
    margin-bottom: 0.5vw;
}

#formBodyRegistrationForm>input:focus{
    outline: none;
}

#radio{
    display: flex;
    flex-direction: row;
    font-family: 'Bona Nova', serif;
    font-size: 1.2vw;
    margin-top: 3vw;
    justify-content: center;
    position: relative;
    gap: 10vw;
    margin-bottom: 1vw;
}

#radio>label>span{
    display: inline-block;
    width: 1vw;
    height: 1vw;
    background-color: #B3BCA7;
    border-radius: 50%;
    cursor: pointer;
    border: 1px transparent solid;
}

#radio>label>span:hover{
    border: 1px #FF8F05 solid;
}

#radio>label>input:checked+span{
    background-color: #FF8F05;
}


#volontee{
    visibility: hidden;
}

#organization{
    visibility: hidden;
}

#formBodyRegistrationForm__enter{
    margin-top: 3.5vw;
    width: 23.3vw;
    height: 3.6vw;
    background-color: #B3BCA7;
    font-family: 'Kanit', sans-serif;
    font-size: 1.3vw;
    border: none;
    border-radius: 7px;
    margin-left: 8vw;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 2vw;
    color: rgb(28, 28, 28);
}

#formBodyRegistrationForm__enter:hover{
    border: #FF8F05 2px solid;
}

#formBodyRegistrationForm__enter:active{
    background: #E8EDED;
    border: #FF8F05 2px solid;
}

.alert{
    display: block;
    color: #FF8F05;
    background-color: transparent;
    font-family: 'Kanit', sans-serif;
    text-align: center;
    font-size: 1.2vw;

}


@media  all and  (max-width: 900px){

    #enterForm{
        width: 60vw;
        height: 70.5vw;
    }

    #forms_head{
        column-gap: 13.5vw;
        font-size: 3.75vw;
        padding-top: 1.5vw;
    }
    
    #formBody>label{
        font-size: 2.1vw;
        margin-left: 9vw;
        margin-top: 6vw;
    }
    
    #formBody>input{
        margin-left: 9vw;
        margin-top: 3vw;
        width: 40.5vw;
        font-size: 2.25vw;
    }
    
    #enterForm__enter{
        margin-top: 9.45vw;
        width: 39.75vw;
        height: 6vw;
        font-size: 2.4vw;
        margin-left: 9.75vw;
    }
    
    #enterForm__enter:hover{
        border: #FF8F05 2px solid;
    }
    
    #enterForm__enter+p{
        font-size: 1.8vw;
        margin-top: 2.55vw;
    }
    
    #formBodyRegistrationForm{
        top: 18vw;
        left: 0.75vw;
        width: 60vw;
    }
    
    #formBodyRegistrationForm>label{
        font-size: 1.8vw;
        margin-left: 8.7vw;
        margin-top: 2.25vw;
    }
    
    #formBodyRegistrationForm>input{
        margin-left: 8.7vw;
        margin-top: 0.9vw;
        width: 41.55vw;
        font-size: 2.25vw;
        margin-bottom: 0.75vw;
    }
    
    #radio{
        font-size: 1.8vw;
        margin-top: 4.5vw;
        gap: 15vw;
        margin-bottom: 1.5vw;
    }
    
    #radio>label>span{
        width: 1.5vw;
        height: 1.5vw;
    }
    
    #formBodyRegistrationForm__enter{
        margin-top: 5.25vw;
        width: 34.95vw;
        height: 5.4vw;
        font-size: 1.95vw;
        margin-left: 12vw;
        margin-bottom: 3vw;
    }
    
    .alert{
        font-size: 1.8vw;
    
    }


}





